{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "esmodules": true
        }
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-proposal-throw-expressions",
    [ 
      "module-resolver",
      {
        "root": ["./src"]
      }
    ]
  ]
}
